.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .flex {
      flex-direction: row;
  }
}

.flex > div {
  flex: 1;
  margin: 0 10px; /* Adjust this value to increase or decrease the gap */
}

ul {
  list-style-type: none; /* This removes the bullet points */
  text-align: center; /* This centers the text */
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3{
  text-align: center;
}

h1{
  text-align: center;
} 

ul{
  color: rgba(10, 0, 0, 0.6);
}
